/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

header h1{
	font-size: 42px;
	color:#A52A2A;
	font-family:'Lato', sans-serif; Arial; 
	font-weight: 400; 
}
header h2{
	font-size: 30px;
	color: #C0C0C0;
	font-family:'Lato', sans-serif; Arial; 
	font-weight: 400;
}
header{
	display: inline;
}

