
img{
	width:150px;
	height:150px;
	margin: 15 515 0 515;

}
h1{
	text-align: center;
	background-color: beige;
	font-size: 35pt;

}
p{
	text-align: center;
	font-size: 12pt;
}

h4{
	text-align: center;
}
h2{
	text-align: center;
	font-size: 12pt;
}
