.container {
    background: #D8D8D8;
    margin-bottom: 20px;
    padding: 50px;
    border:1px solid #AFAFAF;
}

header,
footer {
    clear: both;
    float: left;
    width: 100%;
}

.main {
    float: left;
    width: 62%;
    margin-right: 20px;
}

.sidebar {
    float: right;
    width: 35%;
}

.wrapper {
	width:100%;
	float:left;
}
.sidebar1{
	width:22%;
	float:left;
	margin-right: 3%;
}
.main1{
	width:50%;
	float:left;
}

.sidebar2{
	width:22%;
	float:right;
	margin-left: 3%;
}
.wrapper1{
	width:100%;
	float: left;
}
.mainleft{
	width:49%;
	float:left;

}
.mainright{
	width:49%;
	float:right;
	margin-left: 1%;
}
.wrapper2{
	width:100%;
	float: left;
}
.sidebara{
	width:32%;
	float:right;
	margin-left: 2%;
}
.sidebarb{
	width:32%;
	float:right;
}
.sidebarc{
	width:32%;
	float:left;
	margin-right: 2%;
}
